/cmake-build-debug/
/app/
/lib/
/.idea/
/build/
*.log
*.res
*.tlog
*.iobj
*.obj
*.pch
*.ipdb
*.aps
*.rc
*.hint
*.recipe
*.pdb
*.filters
*.user
.gitignore
stagdll/x64/Release/stagdll.vcxproj.FileListAbsolute.txt
test/bin/
test/obj/